<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opeyemi.storytime" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.opeyemi.storytime.Activites.MainActivity_StoryBook"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.opeyemi.storytime.Activites.AboutBookActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".Activites.CharacterInfoActivity"
            android:label="@string/title_activity_character_info" >
        </activity>
    </application>

</manifest>
